<div><app-navigation></app-navigation></div>
<div><app-sidebar></app-sidebar></div>

<div class="categories-container">
<div class="categories-heading">
    <h2>Categories</h2>
</div>
<div class="categories-links">
    <button class="category-button" (click)="searchCategory(category1)">{{ category1 }}</button>
    <button class="category-button" (click)="searchCategory(category2)">{{ category2 }}</button>
    <button class="category-button" (click)="searchCategory(category3)">{{ category3 }}</button>
    <button class="category-button" (click)="searchCategory(category4)">{{ category4 }}</button>
</div>
<div class="categories-results" *ngIf="results.length > 0">
    <table class="table table-borderless" id="category-table">
    <ng-container *ngFor="let tempNewsFeed of results">
      <thead>
        <tr>
          <th style="cursor: pointer;" (click)="navigateToProfile(tempNewsFeed.userId)" id="user_name">&#64;{{ tempNewsFeed.userId }}</th>
        </tr>
      </thead>
      <tbody style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <tr>
          <td>{{ tempNewsFeed.postCategory }}</td>
        </tr>
        <tr>
          <td>{{ tempNewsFeed.postTitle }}</td>
        </tr>
        <tr>
          <td>{{ tempNewsFeed.postText }}</td>
        </tr>
        <tr>
          <td>
            <ng-container *ngIf="tempNewsFeed.postImgUrl !== null && tempNewsFeed.postImgUrl !== ''">
              <img src="{{ tempNewsFeed.postImgUrl }}" class="rounded float-start" style="height:15em; width: 30em; object-fit: cover; border-radius: 1em;">
            </ng-container>
          </td>
        </tr>
        <tr>
          <td>
            <ng-container *ngIf="tempNewsFeed.postVideoUrl !== null && tempNewsFeed.postVideoUrl !== ''">
              <video style="max-width: 50em; height:15em; width: 30em; border-radius: 1em;" src="{{ tempNewsFeed.postVideoUrl }}" controls></video>
            </ng-container>
          </td>
        </tr>
        <tr>
          <td>{{ tempNewsFeed.dateCreated | date }}</td>
        </tr>        
        <tr>
          <td id="bottom"><br></td>
        </tr>
      </tbody>
    </ng-container>
  </table>
</div>
</div>

