<div #newPostComponent class="modal-overlay"></div>
<div class="modal-content" (click)="$event.stopPropagation()">  
<h1>New Post</h1>  
<textarea id="post" placeholder="Tell us your thoughts..." name="usertext" class="textarea" [(ngModel)]="postText">{{editedText}}</textarea>
<div class="content" style="position: relative">
<input type="file" id="photo" accept="image/*" name="file" style="z-index: 2; position: absolute; top: 3em; left: 1.5em; opacity: 0">
<input id="uploads" placeholder="Upload Photo/Video" (click)="openWidget()" style="border: none; position: absolute; top: 3em; left: 5em">
<img src="assets/image_icon.png" alt="Image of photo" style="width: 15%; position: absolute; top: 1.5em; left: 1.5em">
<button class="submit-button" style="position: absolute; top: 6em; left: 0em" (click)="openWidget()">Upload</button>
<div class="thumbnails"></div>
<button class="submit-button" (click)="postNewPost()" style="position: absolute; top: 6em; left: 4.5em">Submit</button>
<button class="submit-button" (click)="closeModal()" style="position: absolute; top: 6em; left: 12.5em">Close</button>

</div>
</div>

