<div class="search-bar">
  <input class="search-input" #searchInput (keyup)="search(searchInput.value)" placeholder="Search">
  <img id="search-icon" src="assets/search.svg" alt="Search Icon">
  <button *ngIf="query" (click)="clearSearch()">Clear</button>
</div>
<div class="search-results" *ngIf="results.length > 0">
  <table class="table table-borderless" id="search-override" style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 2em; width: 40em;">
    <ng-container *ngFor="let tempNewsFeed of results">
      <thead>
        <tr>
          <th (click)="navigateToProfile(tempNewsFeed.userId)" style="position: relative; left: 0; cursor: pointer;" id="user_name">&#64;{{ tempNewsFeed.userId }}</th>
        </tr>
      </thead>
      <tbody style="display: flex; flex-direction: column; justify-content: center; align-items: center; max-width: 40em;">
        <tr>
          <td>{{ tempNewsFeed.postCategory }}</td>
        </tr>
        <tr>
          <td>{{ tempNewsFeed.postTitle }}</td>
        </tr>
        <tr>
          <td>{{ tempNewsFeed.postText }}</td>
        </tr>
        <tr>
          <td>
            <ng-container *ngIf="tempNewsFeed.postImgUrl !== null && tempNewsFeed.postImgUrl !== ''">
              <img src="{{ tempNewsFeed.postImgUrl }}" class="rounded float-start" style="height: 15em; width: 30em; object-fit: cover; border-radius: 2em;">
            </ng-container>
          </td>
        </tr>
        <tr>
          <td>
            <ng-container *ngIf="tempNewsFeed.postVideoUrl !== null && tempNewsFeed.postVideoUrl !== ''">
              <video style="max-width: 50em; height: 15em; width: 30em; border-radius: 1em;" src="{{ tempNewsFeed.postVideoUrl }}" controls></video>
            </ng-container>
          </td>
        </tr>
        <tr>
          <td>{{ tempNewsFeed.dateCreated | date }}</td>
        </tr>        
        <tr>
          <td id="bottom"><br></td>
        </tr>
      </tbody>
    </ng-container>
  </table>
</div>
