<app-navigation></app-navigation>
<app-sidebar style="position: relative;"></app-sidebar>
<div *ngIf="groupId !== 0" id="group-details">
    <h1>{{ groupName }}</h1>    
    <img src="{{ groupImgUrl }}" alt="{{ groupName }}" id="group-img" />
    <p>{{ groupDescription }}</p>
    <h2 id="members">Members</h2>
    <ul>
        <li *ngFor="let memberName of members" id="member-list">{{ memberName }}</li>
    </ul>
    <p>Date Created: {{ dateCreated | date }}</p>
    <button id="join-group-button" (click)="joinGroup()">Join Group</button>    
</div>
<app-grouppost *ngIf="isModalVisible" (close)="hideModal()" >   
</app-grouppost>
<div id="group-feed">
<h1 class="mt-3 mb-3" id="bootstrap_override2"style="text-align: center; ">Group Feed</h1>
<table class="table table-borderless" *ngFor="let tempGroupFeed of groupFeeds" id="bootstrap_override" style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding-left: 10em ">
    <thead>
        <tr>
            <th id="user_name">&#64;{{ tempGroupFeed.userId }}</th>
            <button matButton [matMenuTriggerFor]="menu" id="postMenu"><img src="assets/menu.svg" alt="Menu"></button>
            <mat-menu #menu="matMenu">                        
                <button mat-menu-item *ngIf="userIdMatch(tempGroupFeed)" (click)="showModal()" (click)="editPost(tempGroupFeed)">Edit</button>

                <button mat-menu-item *ngIf="userIdMatch(tempGroupFeed)" (click)="deletePost(tempGroupFeed)">Delete</button>
            </mat-menu>
        </tr>
    </thead>
    <tbody style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <tr>
            <td>{{ tempGroupFeed.postCategory }}</td>
        </tr>  
        <tr>
            <td>{{ tempGroupFeed.postTitle }}</td>
        </tr>
        <tr>
            <td>{{ tempGroupFeed.postText }}</td>            
        </tr>
        <tr>
            <td>@if (tempGroupFeed.postImgUrl !== null && tempGroupFeed.postImgUrl !== ''){<img src="{{ tempGroupFeed.postImgUrl }}" class="rounded float-start" style="height:25em; width: 50em; object-fit: cover;">}</td>
        </tr>
        <tr>
            <td>@if (tempGroupFeed.postVideoUrl !== null && tempGroupFeed.postVideoUrl !== ''){<video style="max-width: 50em;" src="{{ tempGroupFeed.postVideoUrl }}" controls></video>}</td>
        </tr>
        <tr>
            <td>{{ tempGroupFeed.dateCreated | date }}</td>
        </tr>        
        <tr>
            <td style="position: relative; left: 25em; bottom: 1em"><input type="image" src="assets/heart_icon_black.svg" style="width: 5em; height: 5em;">Like</td>
            
        </tr> 
        <tr>
            <td id="bottom"><br></td>
        </tr>      
    </tbody>
</table>
</div>