<h1 class="mt-3 mb-3" id="bootstrap_override2"style="text-align: center; ">News Feed</h1>
<app-newpost *ngIf="isModalVisible" (close)="hideModal()" style="z-index: 2; position: absolute; left: 30%; top: 20%">   
</app-newpost>
<table class="table table-borderless" *ngFor="let tempNewsFeed of newsFeeds" id="bootstrap_override" style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding-left: 10em ">
    <thead>
        <tr>
            <th id="user_name">&#64;{{ tempNewsFeed.userId }}</th>
            <button matButton [matMenuTriggerFor]="menu" id="postMenu"><img src="assets/menu.svg" alt="Menu"></button>
            <mat-menu #menu="matMenu">                        
                <button mat-menu-item *ngIf="userIdMatch" (click)="showModal()" (click)="editPost(tempNewsFeed)">Edit</button>
                
                <button mat-menu-item *ngIf="userIdMatch" (click)="deletePost(tempNewsFeed)">Delete</button>
            </mat-menu>
        </tr>
    </thead>
    <tbody style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <tr>            
            <td>{{ tempNewsFeed.postText }}</td>            
        </tr>
        <tr>
            <td>@if (tempNewsFeed.postImgUrl !== null && tempNewsFeed.postImgUrl !== ''){<img src="{{ tempNewsFeed.postImgUrl }}" class="rounded float-start" style="height:25em; width: 50em; object-fit: cover;">}</td>
        </tr>
        <tr>
            <td>@if (tempNewsFeed.postVideoUrl !== null && tempNewsFeed.postVideoUrl !== ''){<video style="max-width: 50em;" src="{{ tempNewsFeed.postVideoUrl }}" controls></video>}</td>
        </tr>
        <tr>
            <td>{{ tempNewsFeed.dateCreated }}</td>
        </tr>        
        <tr>
            <td style="position: relative; left: 25em; bottom: 1em"><input type="image" src="assets/heart_icon_black.svg" style="width: 5em; height: 5em;">Like</td>
            
        </tr> 
        <tr>
            <td id="bottom"><br></td>
        </tr>      
    </tbody>
</table>




