<div class="sidebar" style="max-width: 20%; display: flex; justify-content: flex-start; flex-direction: column; padding-top: 4em;">
    
    <br><br><br><br>
    <a class="side-bar-links" routerLink="/categories" style="text-decoration: none"><img id="category-icon" src="assets/category.svg" alt="Category Icon">Categories</a>
    <a class="side-bar-links" routerLink="/groups" style="text-decoration: none"><img id="groups-icon" src="assets/groups.svg" alt="Groups Icon">Groups</a>
    <img class="add-circle-icon" src="assets/addCircle.svg" alt="add circle icon">
    <button id="create-post" (click)="showModal()" [disabled]=" isGroupPost && !isMember">Create Post</button>
    <app-newpost *ngIf="isModalVisible" (close)="hideModal()" style="z-index: 2; position: absolute; left: 30%; top: 20%"></app-newpost>
    <app-grouppost *ngIf="isGroupModalVisible" (close)="hideGroupModal()" style="z-index: 2; position: absolute; left: 30%; top: 20%"></app-grouppost>

</div>
<div *ngIf="!isMember && pathMatch.test(pathname)" style="max-width: 20%; display: flex; justify-content: center; flex-direction: column; text-align: center; padding-top: 1em; color: red; bottom: 120em; position: relative;">
    <p>You must be a member of the group to create a post.</p></div>