<div class="sidebar" style="max-width: 20%; display: flex; justify-content: flex-start; flex-direction: column;">
    
  
    <a class="side-bar" routerLink="/categories"><img id="category-icon" src="assets/category.svg" alt="Category Icon">Categories</a>
    <a class="side-bar" routerLink="/groups"><img id="groups-icon" src="assets/groups.svg" alt="Groups Icon">Groups</a>
    <a class="side-bar" routerLink="/friends"><img id="saved-icon" src="assets/friend.svg" alt="Saved Icon">Friends</a>
    <a class="side-bar" routerLink="/favorites"><img id="favorites-icon" src="assets/favorites.svg" alt="Favorites Icon">Favorites</a>
    <button id="create-post" class="side-bar" (click)="showModal()" >Create Post</button>
    <app-newpost *ngIf="isModalVisible" (close)="hideModal()" style="z-index: 2; position: absolute; left: 30%; top: 20%"></app-newpost>
    <app-grouppost *ngIf="isGroupModalVisible && isMember" (close)="hideGroupModal()" style="z-index: 2; position: absolute; left: 30%; top: 20%"></app-grouppost>

</div>
