<div #newGroupComponent class="group-modal-overlay"></div>
<div class="group-modal-content" (click)="$event.stopPropagation()">  
<h1>New Group</h1>  
<textarea id="group-name" placeholder="Enter a group name..." name="usertext" class="textarea" [(ngModel)]="groupName"></textarea>
<textarea id="group-description" placeholder="Enter a group description..." name="usertext" class="textarea" [(ngModel)]="groupDescription"></textarea>
<p style="position: relative; top: 1em; left: 2em; text-align: center; align-items: center; padding-top: 2em; height: 3em;" class="textarea">Upload a photo...</p>
<button class="submit-button" style="position: absolute; top: 12em; left: 25em" (click)="openWidget()">Upload</button>
<div class="thumbnails"></div>

<button class="group-submit-button" (click)="addNewGroup()">Submit</button>
<button class="group-submit-button" (click)="closeGroupModal()">Close</button>

</div>
