

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#bootstrap_override {
    background-color: rgba(193, 225, 247, 0.5); 
    padding-top: 1em; 
    padding-left: 1em;
    padding-bottom: 1em;
    padding-right: 10em;
    border-radius: 1em;       
    border: solid 1px rgba(148, 122, 250, 0.5);
    border-bottom: 55px solid white;
}

#bootstrap_override:hover {
    background-color: rgba(222, 214, 253, 0.5);
    
}

#search-icon {
    position: relative;
    right: 1em;
    bottom: 1.5em;
    width: 1em;
    height: 1em;
}

#postMenu {
    position: relative; 
    left: 18em; 
    background-color: white; 
    border: none; 
    width: 2em; 
    height: 1em;
    font-size: x-large; 
    border-radius: 0.5em; 
    cursor: pointer; 
    
    
    
}

#postMenu:hover {
    background-color: rgba(148, 122, 250, 0.5);
    color: white;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}


.modal-content {
    background-color: white;
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    height: 30%;
    position: sticky;
    transform: translateX(-50%);
    margin-left: auto;
    bottom: 25em;
    z-index: 1000;
}



#group-feed {
    position: absolute;
    width: 75%;
    top: 50em;
    left: 20%;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    border: 1px solid lightgray;
    border-radius: 0.5em;
    background-color: rgba(193, 225, 247, 0.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    
}



.group-submit-button {
    background-color: rgba(61, 28, 228, 0.704);
    color: white;
    border: none;
    border-radius: 0.5em;
    height: 2em;
    cursor: pointer;    
    margin-top: 1em;
    margin-right: 1em;
    padding: 0 1em;
}

#groups-list {
    list-style-type: none;
    padding-left: 1em;
    position: relative;
    bottom: 108em;
    left: 30%;    
    width: 30%;
    background-color: rgba(193, 225, 247, 0.5);
    border-radius: 0.5em;
    border: solid 1px rgba(148, 122, 250, 0.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    max-height: 60%;
    overflow-y: auto;
    
}

.groups-title {
    text-align: center;
    position: absolute;
    top: 2em;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    color: #222a42;
    background-color: rgba(193, 225, 247, 0.5);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: solid 1px rgba(148, 122, 250, 0.5);
    
}

.create-group-button {
    text-align: center;
    position: absolute;
    top: 9em;
    left: 70%;
    transform: translateX(-50%);
    background-color: rgba(34, 26, 66, 0.5);
    color: white;
    border: none;
    border-radius: 0.5em;    
    cursor: pointer;
    height: 2em;        
    padding: 0 1em;
}

#group-details {
    position: sticky;        
    width: 70%; 
    left: 22%; 
    bottom: 100em; 
    margin-top: 5em; 
    height: 40em;
    justify-content: center;  
    align-items: center;  
    align-content: center;
    background-color: rgba(193, 225, 247, 0.5);
    border-radius: 0.5em;
    border: solid 1px rgba(148, 122, 250, 0.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 1em;
    
        
}

#group-img {
    width: 80%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 0.5em;    
    margin: 1em auto;
}

#member-list {
    list-style-type: none;
    padding-left: 0;
    position: relative;
    right: 2em;
    width: auto;
}

#members {
    position: relative;
    text-decoration: underline;
}

#join-group-button {
    background-color: rgba(34, 26, 66, 0.5);
    color: white;
    border: none;
    border-radius: 0.5em;    
    cursor: pointer;
    height: 2em;        
    padding: 0 1em;
    
    
}

#user_name {
    position: relative; 
    right: 26em;
    border: 2px solid;
    border-radius: 0.5em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    
}


#logo-img {
    width: 4em;
    height: 4em;
    max-width: 4em;
    max-height: 4em;
    object-fit: contain;
    display: block;
    position: absolute;
    top:0;
    right: 90em;

}

#login-button, #profile-button {
    background-color: rgba(34, 26, 66, 0.5);
    color: white;
    border: none;
    border-radius: 0.5em;    
    cursor: pointer;
    position: relative;
    top: 1.8em;
    left: 0.5em;
    height: 2em;        
    padding: 0 1em;
    margin: 0.5em;
    align-content: center;
    text-align: center;
}

#home-icon {
    position: relative;
    bottom: 1em;
    left: 2em;
}

#notifications-icon {
    position: relative;
    bottom: 1em;
    left: 3.5em;
}

#messages-icon {
    position: relative;
    bottom: 1em;
    left: 3em;
}

#profile-icon {
    position: relative;
    bottom: 0em;
    left: 0em;
}


#category-icon, #groups-icon, #saved-icon, #favorites-icon {
    position: relative;
    top: 0.3em;
    left: 0;
    padding-right: 0.5em;
}

.nav-items {
    padding-top: 2em;
    cursor: pointer;
}

#login-button:hover, #profile-button:hover {
    background-color: rgba(148, 122, 250, 0.7);
}

.side-bar {
    padding: 1em;
    text-align: left;
    border-bottom: solid 1px lightgray;
    cursor: pointer;
}

.sidebar {
    border-right: solid 2px lightgray;
    height: 100%;
    padding-bottom: 100%;
}

#create-post {
    background-color: rgba(61, 28, 228, 0.704);
    color: white;
    border: none;
    border-radius: 0.5em;
    height: 3em;
    cursor: pointer;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.profile-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    top: 10em;
    left: 20%;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    border: 1px solid lightgray;
    border-radius: 0.5em;
    background-color: rgba(193, 225, 247, 0.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


