<div class="navbar">
    <a id="logo"><img src="assets/IHeartWorld_Logo.png" alt="logo" id="logo-img" routerLink="/home"></a>
    <a routerLink="/home" class="nav-items" style="padding-right:2em; text-decoration: none;"><img id= "home-icon" src="assets/home.svg" alt="Home Icon" routerLink="/home">Home</a>    
    <a routerLink="/messages" *ngIf="isLoggedIn" class="nav-items" style="padding-right:2em; text-decoration: none;"><img id="messages-icon" src="assets/messages.svg" alt="Messages Icon" *ngIf="isLoggedIn" routerLink="/messages">Messages</a>   
    <button (click)="Login()" id="login-button" *ngIf="!isLoggedIn">Login/Signup</button>

    <button *ngIf="isLoggedIn" matButton [matMenuTriggerFor]="menu" id="profile-button"><img id="profile-icon" src="assets/profile.svg" alt="Profile Icon">Profile</button>
    <mat-menu #menu="matMenu">
        <button id="profile-menu"  mat-menu-item><a style="text-decoration: none;" routerLink="/profile">My Profile</a></button>        
        <button id="profile-menu" mat-menu-item><a style="text-decoration: none;" routerLink="/settings">Settings</a></button>
        <button id="profile-menu" mat-menu-item (click)="Logout()">Logout</button>
    </mat-menu>
</div>

<router-outlet></router-outlet>


